@import './variables';

.skills-container {
    padding: $container-padding-mobile $container-padding-desktop;
    display: flex;
    flex-direction: column;
    text-align: left;

    svg {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    .skill svg {
        width: 1.5em !important;
        height: 1.5em !important;
    }
}
  
  .skills-container .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $spacing-xxl;
}
  
.skills-container .skills-grid .skill {
    align-items: center;
    text-align: left;
}
  
.chip {
    color: $color-neutral-dark !important;
    background-color: white !important;
    font-size: $font-size-small !important;
    height: 25px !important;
    transition: background-color $transition-normal, color $transition-normal !important;
  
    span {
        font-family: $font-family-code;
        color: $color-neutral-dark;
        transition: color $transition-normal;
    }

    svg {
        height: $icon-size-sm !important;
    }
}

.dark-mode {
    .chip {
        background-color: theme-color($theme-dark, timeline-icon-shadow-1) !important;
        color: theme-color($theme-dark, text) !important;

        span {
            color: theme-color($theme-dark, text) !important;
        }
    }
}

.flex-chips {
    line-height: 2;
    margin: 0.5;

    .chip-title {
        color: theme-color($theme-dark, text);
        padding-right: $spacing-sm;
    }
}

.flex-chips .MuiChip-root {
    margin-right: 0.5em;
}

.flex-chips .MuiChip-outlined {
    background-color: #e0e0e0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.flex-chips .MuiChip-outlined span {
    color: rgb(39, 40, 34);
}

@media screen {
    @media (max-width: $breakpoint-tablet) {
        .skills-container {
            display: block;
            padding-left: $container-padding-mobile;
            padding-right: $container-padding-mobile;
        }
    
        .skills-container .skills-grid {
            display: initial;
        }
        
        .skills-container .skills-grid .skill {
            padding-bottom: 5%;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .skills {
            font-size: 12px;
        }
    }
}