@import './variables';

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    svg {
        width: 1.1em !important;
        height: 1.1em !important;
        margin-right: 10px;
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    p {
        font-size: 0.8em;
    }
}

// Light mode styles for footer icons
.light-mode footer {
    svg {
        color: theme-color($theme-light, text);
    }
}