@import './variables';

.vertical-timeline span {
    color: theme-color($theme-dark, text);
    font-family: $font-family-code;
}

.vertical-timeline p {
    color: $color-neutral-dark;
    transition: color $transition-normal;
}

.vertical-timeline-element p {
    color: $color-neutral-dark;
    transition: color $transition-normal;
}

.vertical-timeline-element h3 {
    color: $color-neutral-dark;
    transition: color $transition-normal;
}

.vertical-timeline-element h4 {
    color: $color-neutral-dark;
    transition: color $transition-normal;
}

.vertical-timeline-element span {
    color: $color-neutral-dark;
    transition: color $transition-normal;
}

.dark-mode {
    .vertical-timeline-element p {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    .vertical-timeline-element h3 {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    .vertical-timeline-element h4 {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    .vertical-timeline-element span {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }

    .vertical-timeline-element li {
        color: theme-color($theme-dark, text);
        transition: color $transition-normal;
    }
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: theme-color($theme-dark, text);
    transition: color $transition-normal;
}

.svg-inline--fa {
    color: theme-color($theme-dark, text);
    transition: color $transition-normal;
}

@media screen and (max-width: $breakpoint-desktop) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: $color-neutral-dark;
    }
}